<div class="col-lg-8 col-md-6 mb-md-0 mb-4">

    <div class="card">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-lg-6 col-7">
                    <h6>Products</h6>
                    <a href="/vendor/add-products" class="btn btn-warning">Add products</a>

                </div>

                <div class="col-lg-6 col-5 my-auto text-end">
                    <div class="dropdown float-lg-end pe-4">
                        <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v text-secondary"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a>
                            </li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Another
                                    action</a></li>
                            <li><a class="dropdown-item border-radius-md" href="javascript:;">Something
                                    else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                Product name</th>
                            <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                Category</th>
                                  <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                Shop name</th>
                                  <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                Shop location</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Price</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>
                                   
                             <h6 class="mb-0 text-sm text-center">{{this.ProductName}}</h6>
                                    
                             
                            </td>
                            <td>
                             <h6 class="mb-0 text-sm text-center">{{this.Category}}</h6>
                
                              
                            </td>
                             <td>
                             <h6 class="mb-0 text-sm text-center">{{this.ShopName}}</h6>
                
                              
                            </td>
                             <td>
                             <h6 class="mb-0 text-sm text-center">{{this.ShopLocation}}</h6>
                
                              
                            </td>
                            <td>
                                <h6 class="mb-0 text-sm text-center">{{this.Price}}</h6>
                            </td>
                            <td class="text-center">
                               <img style="width: 50px; height: 50px;" src="/product-images/{{this._id}}.jpg" alt="">
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>