{{#if cartEmpty}}
<div class="empty-sec">
 <div class="cart-empty">
<img class="cart-empty-img" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/2xempty_cart_yfxml0" alt="">
    </div>
    <div class="text-container">
      <div class="empty-text">Your cart is empty</div>
     <div class="empty-text-2">You can go to home page to view more restaurants</div>
    </div>
    <div>
      <a href="/" class="btn btn-block btn-warning home-btn">See restaurants near you</a>
    </div>
</div>
    {{else}}
<div class="main-section">
  
  <div class="container">
    <div class="section-left">
      <form action="" enctype="multipart/form-data" id="checkout-form">
        <div class="column top-column">
          <div class="del-address">Delivery address</div>

          <div class="address">
            <div class="home-card bg-white">
              <div class="form-check pb-2">
                <input class="form-check-input" type="radio" name="AddressType" value="Home" id="flexRadioDefault1">
              </div>
              <h5>{{homeAddress.AddressType}}</h5>
              <p>{{homeAddress.CompleteAddress}} ,<span>{{homeAddress.DeliveryInstructions}}</span><span>
                  ,{{homeAddress.DeliveryArea}}</span></p>
              <button id="button" class="btn text-dark">Edit</button>
            </div>
            <div class="home-card bg-white">
              <div class="form-check pb-2">
                <input class="form-check-input" type="radio" name="AddressType" value="Work" id="flexRadioDefault2"
                  checked>
              </div>
              <h5>{{workAddress.AddressType}}</h5>
              <p>{{workAddress.CompleteAddress}},<span>{{workAddress.DeliveryInstructions}}</span><span>
                  ,{{homeAddress.DeliveryArea}}</span></p>
              <button href="#" id="button" class="btn text-dark">Edit</button>
            </div>
          </div>
        </div>
        <div class="column bottom-column">
          <input type="text" name="UserId" value="{{user}}" hidden>
          <div class="radio-with-Icon">
            <p class="radioOption-Item">
              <input type="radio" name="Payment-method" id="BannerType" value="Paypal"
                class="ng-valid ng-dirty ng-touched ng-empty" aria-invalid="false" style="">
              <label for="BannerType">
                <img src="/images/site-images/paypal.png" alt="">
              </label>
            </p>

            <p class="radioOption-Item">
              <input type="radio" name="Payment-method" id="BannerType2" value="Razorpay"
                class="ng-valid ng-dirty ng-touched ng-empty" aria-invalid="false" style="">
              <label for="BannerType2">
                 <img src="/images/site-images/razorpay2.png" alt="">
              </label>
            </p>
            <p class="radioOption-Item">
              <input type="radio" name="Payment-method" id="BannerType3" value="COD"
                class="ng-valid ng-dirty ng-touched ng-empty" aria-invalid="false" style="">
              <label for="BannerType3">
               <img src="/images/site-images/cod.png" alt="">
              </label>
            </p>
          </div>
          <button type="submit" class="btn btn-success m-3">Pay <span>₹</span> <span
              id="cart-total">{{totalAmount}}</span></button>

        </div>
      </form>
    </div>
    <div class="section-right">
      <div class="column column-right">
        <div class="cart">

          <div class="cart-top">
            <div class="cart-header">
              <h2 class="text-dark">Cart</h2>
            </div>
            <div class="shop-details">
              <img src="/shop-images/{{cartVendorId}}.jpg" alt="">
              <p>{{vendorDetails.ShopName}}</p>
            </div>
          </div>
          <div class="cart-details">
            {{#each cartItems}}
            <div class="setup">
              <div class="product-details">
                <p>{{this.product.ProductName}}</p>
                <div class="btn-div">

                  <button class="btn btn-white text-secondary fnt-btn"
                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',-1)">-</button>
                  <span id="{{this.product._id}}">{{this.quantity}}</span>
                  <button class="btn btn-white text-success fnt-btn"
                    onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../userId}}',1)">+</button>
                </div>
              </div>

            </div>
            {{/each}}
          </div>
          <div class="checkout">
            <div class="total">
              <p>Total</p>
              <p>₹ <span id="total">{{totalAmount}}</span></p>
            </div>
            <a href="" class="btn btn-success">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container footer-section">
    <div class="content">
      <div id="logo">
        <h1><a href="/"><span class="fa fa-align-center text-warning"></span><span
              class="text-white logo-span">Foodizone</span></a></h1>
      </div>
      <div class="copyrights">
        <p class="text-white"><i class="fa-regular fa-copyright"></i> Foodizone 2022</p>
      </div>
      <div class="site-details">
        <a href="" class="text-warning">Home</a> /
        <a href="" class="text-warning">About us</a> /
        <a href="" class="text-warning">Contact us</a> /
        <a href="" class="text-warning">Feedback</a>
      </div>
    </div>
  </div>
</footer>

<div class="bg-modal">
  <div class="form-content">
    <div class="close">+</div>
    <div class="form-top">
      <h5>Add delivery address</h5>
    </div>
    <form id="address-form">
      <input class="blck bar" type="text" name="DeliveryArea" placeholder="Delivery area">
      <input type="text" name="User" value="{{user}}" hidden>
      <input class="bar" type="text" name="CompleteAddress"
        placeholder="Complete address eg. house number,street name,landmark">
      <input class="bar" type="text" name="DeliveryInstructions"
        placeholder="Delivery instructions eg. Opposite gold soulk mall">
      <div class="radio-buttons">

        <div class="button">
          <input type="radio" id="a25" value="Home" name="AddressType" />
          <label class="btn btn-default" for="a25">Home</label>
        </div>
        <div class="button">
          <input type="radio" id="a50" name="AddressType" value="Work" />
          <label class="btn btn-default" for="a50">Work</label>
        </div>
        <div class="button">
          <input type="radio" id="a75" name="AddressType" value="Other" />
          <label class="btn btn-default" for="a75">Other</label>
        </div>
      </div>
      <button class="btn" type="submit">Add address</button>
    </form>
  </div>
  {{/if}}
</div>

<style>
  /* Design changes */
  header {
    margin-top: 1rem;
    min-width: 1054px;
  }

  .container {
    display: flex;
    min-width: 1130px;
  }

  .main-section {
    width: 100%;
    height: 100%;
    display: flex;
    background: #e9ecee;
    min-width: 1054px;
  }

  .section-left {
    width: 56%;
  }

  .top-column {
    margin: 2em;
    background-color: #fff;
    height: 292px;
    min-width: 678px;
  }

  .address {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
  }

  .home-card {
    border: solid 1px lightgray;
    border-radius: 5px;
    max-height: 183px;
    min-width: 311px;
    max-width: 311px;
    margin: 0 auto;
  }

  .main-section .top-column .btn {
    width: 100%;
    background: #e9ecee;
    border-top: solid 1px black;
    border-radius: unset;
    text-transform: none;
  }

  .bottom-column {
    width: 100%;
    min-height: 200px;
    margin: 2em;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background: #fff;
  }

  /* Radio button design*/
  .form-check-input {
    padding-bottom: 7px;
    margin-top: 0;
  }

  div.radio-with-Icon {
    display: block;
  }

  div.radio-with-Icon p.radioOption-Item {
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin: 25px 15px;
    border: none;
  }

  div.radio-with-Icon p.radioOption-Item label {
    display: block;
    height: 90%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: #FF4B2B;
    cursor: pointer;
    transition: none;
    font-size: 13px;
    text-align: center;
    margin: 0 !important;
  }
  div.radio-with-Icon p.radioOption-Item img{
    width: 86px;
  }

  div.radio-with-Icon p.radioOption-Item label:hover,
  div.radio-with-Icon p.radioOption-Item label:focus,
  div.radio-with-Icon p.radioOption-Item label:active {
    opacity: .5;
    background-color: lightgray;
    color: #fff;
    margin: 0 !important;
  }

  div.radio-with-Icon p.radioOption-Item label::after,
  div.radio-with-Icon p.radioOption-Item label:after,
  div.radio-with-Icon p.radioOption-Item label::before,
  div.radio-with-Icon p.radioOption-Item label:before {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
  }

  div.radio-with-Icon p.radioOption-Item label i.fa {
    display: block;
    font-size: 50px;
  }

  div.radio-with-Icon p.radioOption-Item input[type="radio"] {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }

  div.radio-with-Icon p.radioOption-Item input[type="radio"]:active~label {
    opacity: 1;
  }

  div.radio-with-Icon p.radioOption-Item input[type="radio"]:checked~label {
    opacity: 1;
    border: none;
    background-color: lightgray;
    color: #fff;
  }

  div.radio-with-Icon p.radioOption-Item input[type="radio"]:hover,
  div.radio-with-Icon p.radioOption-Item input[type="radio"]:focus,
  div.radio-with-Icon p.radioOption-Item input[type="radio"]:active {
    margin: 0 !important;
  }

  div.radio-with-Icon p.radioOption-Item input[type="radio"]+label:before,
  div.radio-with-Icon p.radioOption-Item input[type="radio"]+label:after {
    margin: 0 !important;
  }

  /*Cart design */
  .section-right {
    width: 49%;
  }

  .column-right {
    width: 100%;
  }

  .cart {
    border-left: solid 2px #171a29;
    width: 49%;
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    justify-content: space-evenly;
    align-items: center;
    height: 322px;
    max-height: 600px;
  }

  .cart-top {
    width: 91%;
  }

  .cart-header {
    max-height: 62px;
  }

  .shop-details {
    max-height: 88px;
    display: flex;
  }

  .cart-details {
    width: 96%;
    overflow-y: auto;
    max-height: 600px;
    margin-top: 1em;
  }

  .product-details {
    width: 96%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .checkout {
    width: 96%;
    align-items: center;
  }

  .btn-div {
    height: 33px;
    border: solid 1px lightgreen;
    display: flex;
    background-color: #fff;
  }

  .quantity {
    padding: 0.5em;
  }

  .quantity-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .total {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    width: 94%;
  }

  .cart img {
    width: 56px;
  }

  /* Footer designs */
  .footer-section {
    background-color: #1b1d1d;
    max-width: 100%;
    display: flex;
    min-height: 14rem;
    align-items: center;
    width: 100%;
    min-width: 1054px;

  }

  .logo {
    margin: 0 18em;
  }

  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  /* media queries*/
  @media (max-width:737px) {
    .content {
      flex-direction: column;
      align-items: center;
    }

  }

  /* CART EMPTY STYLES */

  .empty-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 9em auto;
  }
  .cart-empty-img{
    width: 407px;
  }
  .empty-text{
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #535665;
    text-align: center;
  }
  .empty-text-2{
    margin-top: 8px;
    color: #7e808c;
  }
  .text-container{
    margin: 2em auto;
  }
  .home-btn{
    margin-top: 30px;
    padding: 11px 20px;
    text-transform: uppercase;
    background-color: #fc8019;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 15px;
    text-align: center;
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.2,1,.2,1);
  }


  /* Hidden form */

  .bg-modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    min-width: 1054px;
    display: none;

  }

  .form-content {
    min-width: 508px;
    height: 461px;
    background-color: #fff;
    justify-content: center;
    border-radius: 5px;
    position: relative;
  }

  .form-top {
    border-bottom: solid 1px lightgray;
    height: 49px;
    width: 100%;
  }

  .bg-modal .form-content .bar {
    width: 85%;
    margin: 47px auto;
    display: block;
    border-radius: 3px;
    border: solid 1px lightgray;
    min-height: 33px;
  }

  .bg-modal .form-content .form-top h5 {
    margin: 1em 40px;
  }

  .blck {
    display: block;
  }

  .radio-buttons {
    height: 42px;
    width: 85%;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    border: solid 1px lightgray;
    border-radius: 5px;
  }

  .button {
    float: left;
    margin: 0 5px 0 0;
    width: 31.33%;
    height: 40px;
    position: relative;
    border-left: solid 1px lightgray;
    color: gray;
  }

  .button label,
  .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }

  .button input[type="radio"]:checked+label {
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #fff;
    height: 39px;
    width: 138px;
    border-radius: unset;
  }

  .button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
  }

  .close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .bg-modal .form-content button {
    margin: 14px 1em;
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #fff;
    width: 93%;
  }

  /* Font designs*/
  .main-section .section-left .top-column .del-address {
    font-size: 1.3rem;
    font-weight: 600;
    color: #282c3f;
    padding: 1em;
  }

  .main-section .section-left .top-column .address h5 {
    padding: 10px;
  }

  .main-section .section-left .top-column .address p {
    padding: 10px;
    font-size: 12px;
    min-height: 56px;
  }
</style>
<script>
  /////////////////////////
  /* CHANGE QUANTITY AJAX*/
  ////////////////////////////

  function changeQuantity(cartId, proId, userId, count) {
    let quantity = parseInt(document.getElementById(proId).innerHTML)
    count = parseInt(count)
    $.ajax({
      url: '/change-product-quantity',
      data: {
        user: userId,
        cart: cartId,
        product: proId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          alert("Item removed from cart")
          location.reload()
        } else {
          console.log(response);
          document.getElementById(proId).innerHTML = quantity + count
          document.getElementById('total').innerHTML = response.total
          document.getElementById('cart-total').innerHTML = response.total
        }
      }
    })
  }

  /////////////////////////
  /* CHECKOUT FORM AJAX*/
  ////////////////////////


  $("#checkout-form").submit((e) => {
    e.preventDefault()
    $.ajax({
      url: '/place-order',
      method: 'post',
      data: $("#checkout-form").serialize(),
      success: (response) => {
        alert(response)
        if (response.codSuccess) {
          location.href = '/order-success'
        } else {
          alert("Razorpay")
        }
      }
    })
  });


  ////////////////////////////
  /* ADDRESS FORM AJAX */
  /////////////////////////

  $("#address-form").submit((e) => {
    e.preventDefault()
    $.ajax({
      url: '/add-address',
      method: 'post',
      data: $("#address-form").serialize(),
      success: (response) => {
        alert(response)
      }
    })
  });

  ////////////////////////////
  /* HIDDEN ADDRESS FORM JS*/
  ////////////////////////////
  document.getElementById('button').addEventListener('click',
    function () {
      document.querySelector('.bg-modal').style.display = 'flex';
    });

  document.querySelector('.close').addEventListener('click',
    function () {
      document.querySelector('.bg-modal').style.display = 'none';
    });

</script>